.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found__icon {
  margin: 86px 0 0 0;
  width: 96px;
  height: 96px;
  background-image: url('../../images/not-found.svg');
  background-size: cover;
}

.not-found__title {
  font-family: 'Roboto Slab', serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  color: #1A1B22;
  margin: 31px 0 16px 0;
}

.not-found__text {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #B6BCBF;
  margin: 0 0 80px 0;
  width: 245px;
}

@media screen and (max-width: 768px) {
  .not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .not-found__icon {
    margin: 86px 0 0 0;
    width: 96px;
    height: 96px;
    background-image: url('../../images/not-found.svg');
    background-size: cover;
  }

  .not-found__title {
    font-family: 'Roboto Slab', serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 30px;
    color: #1A1B22;
    margin: 31px 0 16px 0;
  }

  .not-found__text {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #B6BCBF;
    margin: 0 0 80px 0;
    width: 245px;
  }
}
