.popup__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  margin: 34px 0 22px;
  padding: 0;
}

.popup__submit {
  width: 100%;
  height: 64px;
  margin: 40px 0 16px 0;
  padding: 0;
  border-radius: 100px;
  background-color: #E6E8EB;
  color: #b6bcbf;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  border: none;
  outline: none;
}

.popup__submit_active {
  background-color: #2f71e5;
  color: #fff;
  cursor: pointer;
}

.popup__form-text {
  margin: 0 auto 28px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.popup__form-button {
  border: none;
  background-color: #fff;
  color: #2f71e5;
  padding: 0;
  outline: none;
  cursor: pointer;
}

.popup__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form__label {
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #2f71e5;
  padding: 0;
  margin: 30px 0 0;
}

.form__label:first-child {
  margin-top: 0;
}

.form__input {
  width: 100%;
  padding: 0;
  margin: 10px 0 0;
  border: none;
  border-bottom: 1px solid rgba(0,0,0, 0.2);
  outline: none;
  font: 400 14px/17px 'Inter';
}

.form__input:focus {
  box-shadow: 0 0 5px #2F71E5;
  border: 1px solid #2F71E5;
}

.form__error {
  color: #ff0000;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin: 3px 0 0;
}