.main{
    background-image: url(../../images/header.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* min-height: 576px; */
    /* max-width:100vw; */
    width: 80%;
    height: auto;
    max-height: none;
}
.main__content{
    width: 100%;
}
.main__title{
    margin: 80px auto 0;
    font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 64px;
    max-width: 608px;
    word-wrap: normal;
    color: #fff;

}
.main__subtitle{
    margin: 32px auto 88px;
    max-width: 608px;
    color: #fff;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}
@media screen and (max-width:1100px){
    .main__title{
        margin: 38px auto 0;
        font-size: 36px;
        line-height: 40px;
        width: 60%;
    }
    .main__subtitle{
        margin: 16px auto;
        width: 65%;
    }
}
@media screen and (max-width:540px){
    .main{
        height: 536px;
        display: flex;
        flex-direction: column;
        background-image: url(../../images/header-mobile.png);
        width: 100%;
    }
    .main__title{
        margin: 30px auto 0;
        width: 90%;
    }
  .main__subtitle{
      width: 90%;
      margin: 16px auto;
  }
}


/* 

.profile {
  display: flex;
  max-width: 882px;
  padding-top: 35px; 
  width: 100%;
  margin: auto;
}

@media screen and (max-width: 730px) {
  .profile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 38px 0 36px 0;
  }
}

.profile__add-button {
  width: 150px;
  height: 50px;
  border: 1px solid  #ffffff;
  background-color: #000000;
  background-image: url('../../images/close.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20% 50%;
  box-sizing: border-box;
  border-radius: 2px;
  margin: 33px 0 0 auto;
}
  
.profile__add-button:hover {
  opacity: .8;
  cursor: pointer;
}

@media screen and (max-width: 730px) {
  .profile__add-button {
    width: 282px;
    background-size: 17px 17px;
    align-self: center;
    margin-left: 0;
  }
}

.profile__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 0;
}

@media screen and (max-width: 425px) {
  .profile__container {
    flex-direction: column;
    margin: auto;
  }
}
.profile__edit-button {
  width: 24px;
  height: 24px;
  border: 1px solid  #ffffff;
  background-color: #000000;
  background-image: url('../../images/close.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%;
  margin: -15px 0 4px 24px;
}
  
.profile__edit-button:hover {
  opacity: .8;
  cursor: pointer;
}

@media screen and (max-width: 730px) {
  .profile__edit-button {
    height: 18px;
    width: 18px;
  }
}

.profile__image {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  margin: 0 30px 0 0;
  object-fit: cover;
}

@media screen and (max-width: 730px) {
  .profile__image {
    margin: auto;
  }
}

.profile__image-container {
    width: 120px;
    height: 120px;
    position: relative;
    margin-right: 28px;
}

.profile__image-container:hover .profile__image-edit {
    opacity: 1;
    cursor: pointer;
}
.profile__image-edit {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../../images/close.svg');
    transition: .5s ease-in;
    opacity:0;
    position: absolute;
}

.profile__info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile__subtitle {
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  flex-basis: 100%;
  max-width: 318px;
  white-space: nowrap;
  overflow-x: auto;
}

@media screen and (max-width: 930px) {
  .profile__subtitle {
    max-width: 40vw;
  }
}

@media screen and (max-width: 730px) {
  .profile__subtitle {
    / * margin-left: 70px; * /
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    max-width: 201px;
  }
}
@media screen and (max-width: 475px) {
    .profile__text {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
}

.profile__title {
    max-width: 380px;
    font-weight: 500;
    font-size: 42px;
    line-height: 56px;
    margin: 0;
    white-space: nowrap;
    overflow-x: auto;
}
  
@media screen and (max-width: 930px) {
    .profile__title {
        max-width: 40vw;
    }
}

@media screen and (max-width: 730px) {
    .profile__title {
        font-size: 22px;
        line-height: 56px;
        max-width: 200px;
        width: 100%;
    }
} */
