.search-container {
  background-image: url('../../images/header.png');
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 80px 0;
  width: 100%;
  background-size: cover;
}

.search-container__content {
  margin: 0 auto;
  width: calc(100% - 416px * 2);
  max-width: 608px;
  display: flex;
  flex-direction: column;
}

.search-container__title {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  color: #ffffff;
  margin: 80px 0 32px;
}

.search-container__subtitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  margin: 0 0 80px;
}

.search-bar {
  width: 100%;
  height: 64px;
  background-color: #ffffff;
  border-radius: 100px;
  border: none;
  display: flex;
}

.search-bar__input {
  margin: 0 auto 0 0;
  border: none;
  height: 100%;
  width: 75%;
  border-radius: 100px 100px;
  padding: 0;
  outline: none;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  padding-left: 24px;
}

.search-bar__input:focus {
  box-shadow: 0 0 5px #2F71E5;
  border: 1px solid #2F71E5;
}

.search-bar__button {
  margin: 0 0 0 auto;
  padding: 0;
  width: 35%;
  height: 100%;
  border: none;
  background-color: #2F71E5;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  border-radius: 100px;
  outline: none;
  cursor: pointer;
}

.search-bar__button:hover {
  background-color: #347EFF;
}

.search-bar__button:active {
  background-color: #2a65cc;
}

.search-bar__button_disabled{
    background: #E6E8EB;
    color: #B6BCBF;
}
.search-bar__button_disabled:hover{
    background-color: #E6E8EB;
}

@media screen and (max-width: 1300px) {
  .search-container__content {
    width: calc(100% - 160px * 2);
  }
}

@media screen and (max-width: 700px) {
  .search-container {
    background-image: url('../../images/header-mobile.png');
  }
  .search-container__content {
    width: calc(100% - 20px * 2);
  }
  .search-bar {
    flex-direction: column;
  }
  .search-container__title {
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    margin: 30px 0 16px;
  }
  .search-container__subtitle {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 122px;
  }
  .search-bar {
    background: none;
    height: 100%;
  }
  .search-bar__input {
    border-radius: 100px;
    height: 56px;
    width: 95%;
  }
  .search-bar__button {
    margin: 16px auto 0;
    height: 56px;
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    width: 100%;
  }
}